:root {
    --color: #1992d4;
    --secondaryColor: #F0B429;
    --bckgroundMain: #E2E8F0;
}

body, html {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    margin: auto;
}

.sidebar {
    width: 20%;
    background-color: var(--color);
    color: white;
}

.main {
    width: 80%;
}

.dashboard {
    margin-right: 1vw;
}

.sidebar li {
    display: flex;
    fill: white;
    gap: 20px;
    height: 4vh;
}

svg {
    width: 2vw;
    height: 6.5vh;
}

.bottom-ul {
    margin-top: 5vh;
}

.nav-search {
    height: 15%;
    display: flex;
    flex-direction: column;
}

.search-div {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.top-nav {
    display: flex;
    gap: 60px;
    height: 35%;
}

#search-input {
    height: 1.5rem;
    width: 40vw;
    border: none;
    border-radius: 15px;
    background-color: #E2E8F0;
}

#search-icon, #alerts, .profile {
    background-color: white;
    border: none;
}

#profile-image {
    border: none;
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

.nav-search img {
    width: 25px;
}

.user {
    height: 100%;
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: center;
    gap: 20px;
}

.actions {
    height: 65%;
    display: flex;
}

.greet {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}

.greet img {
    width: 65px;
    height: 65px;
    background-color: var(--bckgroundMain);
    border-radius: 50px;
    margin-left: 4%;

}

.upload {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4%;
    margin-right: 4%;
}

.upload button {
    height: 4vh;
    width: 7vw;
    background-color: var(--color);
    color: white;
    border: none;
    border-radius: 50px;
}

.greet .text {
    font-weight: bold;
    margin-left: 4%;

}

.greet p {
    font-size: 0.9rem;
    margin: 0;
}

.greet h3 {
    margin: 0;
}

#main-title {
    background-color: var(--bckgroundMain);
    margin: auto;
    margin-top: 3%;
}

#announcements {
    background-color: var(--bckgroundMain);
    margin-top: 3%;
    height: 100%;
    border: 2px red solid;
    margin: auto;
}

.bottom {
    background-color: var(--bckgroundMain);
    display: flex;
    height: 85%;
    width: 100%;
    box-shadow: inset 0px 3px 5px lightgray;
}

.projects {
    padding-left: 3%;
    width: 70%;
}

.left {
    width: 100%;
    height: 88%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.right {
    border: 2px peachpuff solid;
    width: 30%;
}

.grid {
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 3px lightgray;
    margin: 5%;
    margin-left: 0;
}

.left-div {
    width: 10%;
    background-color: var(--secondaryColor);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.grid {
    display: flex;
}

.right-div {
    margin-left: 6%;
    margin-right: 3%;
}

.right-div h3 {
    font-weight: bolder;
}

.announcements {
    margin-left: 3%;
    margin-right: 3%;
    height: 50%;
}

.grid-announcements {
    display: grid;
    height: 70%;
}

.grid-announcementsInner {
    background-color: white;
    border: none;
}

.trending {
    border: 2px blue solid;
    height: 47%;
}